body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1244px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:230px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:230px;
}
#u1 {
  position:absolute;
  left:2px;
  top:107px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1060px;
  top:195px;
  width:184px;
  height:15px;
  color:#FF0000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:15px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:130px;
  top:10px;
  width:398px;
  height:15px;
  color:#FF0000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:15px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  white-space:nowrap;
}
