body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:0px;
  width:930px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:926px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:610px;
  width:960px;
  height:620px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:620px;
}
#u3 {
  position:absolute;
  left:2px;
  top:302px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
