body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1px;
  top:0px;
  width:1389px;
  height:280px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1389px;
  height:280px;
}
#u1 {
  position:absolute;
  left:2px;
  top:132px;
  width:1385px;
  visibility:hidden;
  word-wrap:break-word;
}
