body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:883px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:222px;
  top:0px;
  width:658px;
  height:550px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:550px;
}
#u1 {
  position:absolute;
  left:2px;
  top:267px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:225px;
  top:550px;
  width:658px;
  height:304px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:304px;
}
#u3 {
  position:absolute;
  left:2px;
  top:144px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
