body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1253px;
  height:593px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1253px;
  height:593px;
}
#u1 {
  position:absolute;
  left:2px;
  top:288px;
  width:1249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:190px;
  top:554px;
  width:1110px;
  height:466px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:466px;
}
#u3 {
  position:absolute;
  left:2px;
  top:225px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
