body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1152px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:230px;
  top:0px;
  width:912px;
  height:500px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:912px;
  height:500px;
}
#u1 {
  position:absolute;
  left:2px;
  top:242px;
  width:908px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:220px;
  top:490px;
  width:932px;
  height:270px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:932px;
  height:270px;
}
#u3 {
  position:absolute;
  left:2px;
  top:127px;
  width:928px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:50px;
  top:115px;
  width:206px;
  height:15px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:15px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  white-space:nowrap;
}
